.login {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, rgba(255, 82, 99, 0.9) 10%, rgba(255, 115, 129, 0.9) 65%, rgba(252, 189, 1, 0.9) 125%);
  background-size: 100%
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  margin-bottom: 0px;
  padding: 75px 75px 75px 75px;
  border-radius: 5px;
  background: white;
}

.login-form > h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-bottom: 45px;
}

.login-form > label {
  width: 450px;
  display: flex;
  flex-direction: column;
  color: #848f99;
  font-size: 12px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 30px;
}

.login-form > label > input {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 325;
}

.login-form-button-container {
  display: flex;
  justify-content: space-evenly;
}

.login-form-button {
  background-color: #14aaf5;
  border-color: #14aaf5;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  margin-top: 50px;
}

.login-footer {
  margin: 0px auto;
  padding: 15px;
  font-size: 14px;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.login-footer-login-button {
  background: none;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 9px 7px 9px;
  cursor: pointer;
}