.nav {
  height: 100vh;
  background: #151b26;
  min-width: 244px;
  max-width: 244px;
}

.nav-logo {
  margin-left: 8px;
  margin-top: 15px;
  width: 100px;
}

.nav-links {
  width: 100%;
  border-bottom: 1px solid #222b37;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.nav-link {
  text-decoration: none;
  color: #d5dce0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
}

.nav-favorites {
  width: 100%;
  border-bottom: 1px solid #222b37;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.nav-favorites-title {
  color: #646f79;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 10px 15px;
}

.nav-create-project {
  color: grey;
  cursor: pointer;
  padding: 5px;
  line-height: 0;
}

.nav-create-project:hover {
  color: #d5dce0;
  cursor: pointer;
}

.nav-workspace {
  text-decoration: none;
  color: #d5dce0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.nav-project-index {
  margin-top: 5px;
}

.nav-project-row {
  cursor: pointer;
  padding: 8px 0px 8px 35px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.nav-project-row:hover {
  background: #6479a05e;
}

.nav-project-row a {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #d5dce0;
  font-weight: 300;
  font-size: 13px;
}

.nav-project-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}