.nav {
  height: 100vh;
  background: #151b26;
  min-width: 244px;
  max-width: 244px;
}

.nav-logo {
  margin-left: 8px;
  margin-top: 15px;
  width: 100px;
}

.nav-links {
  width: 100%;
  border-bottom: 1px solid #222b37;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.nav-link {
  text-decoration: none;
  color: #d5dce0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
}

.nav-favorites {
  width: 100%;
  border-bottom: 1px solid #222b37;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.nav-favorites-title {
  color: #646f79;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 15px;
}

.nav-workspace {
  text-decoration: none;
  color: #d5dce0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
}