.task-edit-subtask-droppable {
  max-height: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task-edit-subtasks {
  margin-bottom: -10px;
  max-height: 350px;
  width: 700px;
  margin-left: -30px;
}

.task-edit-subtask {
  display: flex;
  padding: 10px;
  border-bottom: 0.5px solid transparent;
  border-top: 0.5px solid transparent;
  height: 20px;
  color: transparent;
  position: relative;
}

.task-edit-subtask:hover {
  color: grey;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
}

.task-edit-subtask:active {
  background: white;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
}

.task-edit-subtask-drag {
  color: inherit;
  margin: 3px 10px 0px 0px;
  font-size: 14px;
  min-width: 10.5px;
  z-index: 3;
}

.task-edit-subtask-complete {
  font-size: 20px;
  color: #25e8c8;
  z-index: 3;
}

.task-edit-subtask-incomplete {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.task-edit-subtask-incomplete:hover {
  color: #25e8c8;
  border-color: #9de6d9;
}

.task-edit-subtask-name {
  width: 525px;
  border: none;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

// .task-edit-subtask-name:focus {
//   border: 1px solid #14aaf5;
//   border-collapse: separate;
//   padding: 10px 0px 10px 62px;
//   position: relative;
//   top: -10px;
//   width: 700px;
//   left: -62px;
//   z-index: 2;
// }

.task-edit-subtask-date {
  color: inherit;
  line-height: 1.8;
	font-size: 13px;
  padding: 5px;
  position: absolute;
  right: 20px;
  bottom: 2px;
}

.task-edit-subtask-date-icon-border {
	color: inherit;
	border: 1px dashed;
	border-color: inherit;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
}

.task-edit-subtask-date-icon-border:hover {
	color: black;
	border: 1px solid black;
}

.task-edit-subtask-calendar-container {
  position: fixed;
  margin: 6px -320px;
  z-index: 5;
  color: grey;
}

.completed {
  color: lightgrey;
}

.task-edit-subtask-name-completed {
  border: none;
  color: grey;
}

.task-edit-subtask-name:focus {
  // outline: 1px solid blue;
  outline: none;
}