.react-calendar {
	z-index: 2;
	// position: fixed;
}

.task-index-date {
	font-size: 12px;
	margin: 8px 0px 0px 15px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.task-index-date-icon-border {
	color: inherit;
	border: 1px dashed;
	border-color: inherit;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
}

.task-index-date-icon-border:hover {
	color: black;
	border: 1px solid black;
}

.task-index-date-icon {
	color: inherit;
	font-size: 14px;
	margin-top: 4px;
	transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.task-index-date-text {
	color: rgba(0, 0, 0, 0.6);
	padding: 5px;
}

.task-index-calendar-container {
	position: fixed;
	margin-top: 40px;
	z-index: 10;
}

.task-date {
	padding: 7px 10px;
	display: flex;
	flex-direction: row;
	position: fixed;
	color: grey;
	width: 120px;
	cursor: pointer;
	border: 1px dashed transparent;
}

.task-date:hover {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	background: rgb(245, 245, 245);
	border-style: solid;
	position: fixed;
}

.task-date-icon {
	font-size: 16px;
	margin-top: 6px;
	color: grey;
}

.task-date-icon-border {
	border: 1px grey;
	border-style: inherit;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
}

.task-due-date-container {
	margin-left: 8px;
}

.task-due-date-header {
	font-size: 13px;
}

.task-due-date-text {
	margin-top: 4px;
	font-size: 15px;
}

.task-due-date-cancel {
	margin: 5px 0px 0px 8px;
	color: lightgrey;
}

.task-due-date-cancel:hover {
	color: rgb(113, 113, 113);
}

.task-calendar-container {
	position: fixed;
	margin: 55px 0px 0px 10px;
}

.task-calendar-show {
	margin-left: 10px;
	padding: 7px 70px 7px 10px;
	display: flex;
	flex-direction: row;
	position: fixed;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.task-calendar-date {
	margin: 8px 16px;
	width: 50px;
	font-size: 15px;
}

.green {
    color: green;
}

.red {
    color: red;
}