.task-index {
  height: calc(100vh - 165px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.task {
  max-height: 200px;
  min-height: 90px;
  margin: 10px;
  padding: 15px 8px 15px 0px;
  font-size: 13px;
  line-height: normal;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  box-sizing: border-box;
  transition: top ease 0.2s;
  width: 230px;
  color: transparent;
  position: relative;
}

.task:hover {
  top: -1px;
  box-shadow: 0 2px 6px 0 rgba(21,27,38,.15);
  color: rgba(135, 135, 135, 0.5);
  border-color: rgba(135, 135, 135, 0.5);
}

.task-name {
  overflow: hidden;
  overflow-wrap: break-word;
  color: black;
  padding: 5px 15px 0px 15px;
  width: 200px;
}

.task-name-completed {
  overflow: hidden;
  overflow-wrap: break-word;
  color: black;
  padding: 10px 15px 0px 15px;
  width: 200px;
  color: rgba(0, 0, 0, 0.5);
}

.task-header {
  color: rgb(240, 240, 240);
}

.task-check {
  display: block;
  padding: 0px 0px 0px 15px;
  font-size: 16px;
  color: #25e8c8;
}

.task-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
}

.task-delete:hover {
  color: rgba(208, 0, 0, 0.755);
}

.create-task {
  text-align: center;
  margin: 10px;
  font-size: 24px;
  color: grey;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  position: relative;
  transition: top ease 0.2s;
  padding: 0px 0px 3px 0px;
}

.create-task:hover {
  color: #14aaf5;
}

.create-task-input {
  padding-bottom: 45px;
  margin: 10px 0px 0px 10px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.509);
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.057);
  line-height: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 230px;
  height: 94px;
  // resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.create-task-input:focus {
  outline: none;
}