.user-dropdown-button {
  cursor: pointer;
}

.user-dropdown {
  float: right;
  position: relative;
}

.user-dropdown-container {
  border-radius: 5px;
  background-color: white;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 250px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.user-dropdown-container > div {
  // ??? h-value v-value blur spread
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  // ??? add margin to account for overlapping borders
  margin: 1px;
}

.user-dropdown-row {
  color: black;
  padding: 20px 40px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.user-dropdown-row:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.user-dropdown-workspace {
  display: flex;
  justify-content: left;
}

// ??? absolute position

.user-dropdown-check {
  position: absolute;
  left: 15px;
}

